################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/valu/FileContentIndex
/.vs/valu/FileContentIndex/07c1e076-0a07-40d3-b7ea-ee2d440d8f26.vsidx
/.vs/valu/FileContentIndex/206ed0b2-b59e-463e-87de-fa2ce7201af0.vsidx
/.vs/valu/FileContentIndex/2cff71d6-a5c8-419a-9a87-0d3ebf5a6032.vsidx
/.vs/valu/FileContentIndex/71a26225-ed1c-4e1a-bae8-c4d5c2b3b73a.vsidx
/.vs/valu/FileContentIndex/d33667a4-bec3-42ce-87e5-4dc8263e2bf0.vsidx
