
.title1
{
    padding-left: 50px;

}
.title2
{
    padding-left: 50px;

}
.title3
{
    padding-left: 50px;

}
.title4
{
    padding-left: 50px;

}
.title5
{
    padding-left: 50px;

}
.title6
{
    padding-left: 50px;

}
.edit
{
    padding-left: 50px;
}
.editbody
{
    padding-right: 140px;
}
.td
{
    padding-right: 140px;

}