<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark body" style="width: 180px;height: 715px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <!-- <img class="log" src="../../../assets/30NLogo.png">  -->
    <!-- <span class="fs-4">Dashboard</span> -->
  </a>
  <img class="log" src="../../../assets/valu.jpg">
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a [routerLink]="['/Employee']"  class="nav-link text-white">
        <i class="fa fa-user" aria-hidden="true"></i>

        Employee
      </a>
    </li>
    <li>
      <a  [routerLink]="['/Department']" class="nav-link text-white">
        <i class="fa fa-building-o" aria-hidden="true"></i>

               department
               <!-- [routerLink]="['/teams']" -->
      </a>
    </li>
  </ul>
  <hr>
</div>