.head1
{
    display: block;
    margin-bottom: 10px;
}
.dialog
{
    width: 390px;
    margin-left: 20px;
  
}
.mat-dialog-content
{
    max-height: 83vh;

}
.example-full-width
{
    display: block;
    margin-top: 20px;
}
.priority
{
    margin-top: 15px;
}