<div mat-dialog-content class="dialog">
  <form [formGroup]="myForm" (ngSubmit)="AddNewEmployee()" class="example-form">
    <mat-label class="head1">Add New Employee</mat-label>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Add name" formControlName="name" />
      <mat-error *ngIf="myForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Identification</mat-label>
      <input matInput placeholder="Add identification" formControlName="identification" />
      <mat-error *ngIf="myForm.get('identification')?.hasError('required')">
        identification is required
      </mat-error>
    </mat-form-field>


   <mat-form-field class="example-full-width">
      <mat-label>chose HireDate</mat-label>
      <input matInput type="date" placeholder="chose hireDate" formControlName="hireDate" />
    </mat-form-field>
     
   <mat-form-field class="example-full-width department">
      <mat-label>Select department</mat-label>
      <mat-select [(ngModel)]="selectedOption" formControlName="departmentID">
        <mat-option *ngFor="let item of departmentList" [value]="item.id" >
          {{ item.name }}
        </mat-option>
      </mat-select>   
    </mat-form-field>

      <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Add phone" formControlName="phone" />
      <mat-error *ngIf="myForm.get('phone').hasError('pattern')">
        Invalid phone number format
      </mat-error>
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
      <mat-label>MobileNumber</mat-label>
      <input matInput placeholder="Add mobileNumber" formControlName="mobileNumber" />
      <mat-error *ngIf="myForm.get('mobileNumber').hasError('required')">
         Mobile Number is required
      </mat-error>
    </mat-form-field>
    

   <mat-form-field class="example-full-width">
      <mat-label>Position</mat-label>
      <input matInput placeholder="Add position" formControlName="position" />
      <mat-error *ngIf="myForm.get('position')?.hasError('required')">
        position is required
      </mat-error>
    </mat-form-field>

    <button
      mat-button
      (click)="CloseFOrm()"
      style="background-color: red; color: white"
    >
      Close
    </button>
    <button
      mat-button
      type="submit"
      style="background-color: green; color: white; margin-left: 20px"
    >
      Save
    </button>
    <!-- <button mat-button type="submit"  style="background-color: green; color: white;margin-left: 20px;">Edit</button> -->
  </form>
</div>
